<div class="container mt-2">
    <div *ngIf="(shoppingCart$ | async) === null">
        <p>There are no items in your Shopping Cart</p>
    </div>
    
    <div *ngIf="shoppingCart$ | async">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <app-shopping-cart-summary
                        (decrement)="decrementItemQuantity($event)"
                        (increment)="incrementItemQuantity($event)"
                        (remove)="removeShoppingCartItem($event)"   
                        [items]="(shoppingCart$ | async).items"
                        ></app-shopping-cart-summary>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 offset-6">   
                        <app-order-totals
                        *ngIf="(shoppingCartTotal$ | async)"
                        [shippingPrice]="(shoppingCartTotal$ | async).shipping"
                        [subtotal]="(shoppingCartTotal$ | async).subtotal"
                        [total]="(shoppingCartTotal$ | async).total"
                        ></app-order-totals>
                        <a routerLink="/checkout" class="btn btn-outline-primary py-2 btn-block">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>